In [3]:
import pandas as pd
import joblib
from pathlib import Path
import os
import sys
import time
notebook_dir = os.path.dirname(os.path.abspath(''))
src_path = os.path.join(notebook_dir, '..\..\..\src')
sys.path.append(src_path)
print(src_path)

d:\ANNACONDA\projects\interest_rate_prediction\notebooks\data_cleaning\foreign_exchange_rates\..\..\..\src

In [4]:
os.getcwd()

'd:\\ANNACONDA\\projects\\interest_rate_prediction\\notebooks\\data_cleaning\\foreign_exchange_rates\\exchange_rates'

In [5]:
from config import CSV_DATA_PATH

In [6]:
bill_rates = pd.read_csv(f"../../../{CSV_DATA_PATH}bill_rates.csv")
bill_rates

,Date,4 WEEKS BANK DISCOUNT,4 WEEKS COUPON EQUIVALENT,8 WEEKS BANK DISCOUNT,8 WEEKS COUPON EQUIVALENT,13 WEEKS BANK DISCOUNT,13 WEEKS COUPON EQUIVALENT,17 WEEKS BANK DISCOUNT,17 WEEKS COUPON EQUIVALENT,26 WEEKS BANK DISCOUNT,26 WEEKS COUPON EQUIVALENT,52 WEEKS BANK DISCOUNT,52 WEEKS COUPON EQUIVALENT
0,12/29/23,5.33,5.44,5.33,5.46,5.20,5.35,5.21,5.39,5.05,5.26,4.55,4.79
1,12/28/23,5.31,5.42,5.29,5.42,5.25,5.41,5.22,5.40,5.06,5.28,4.58,4.82
2,12/27/23,5.28,5.39,5.29,5.42,5.24,5.40,5.21,5.39,5.05,5.27,4.54,4.78
3,12/26/23,5.27,5.38,5.27,5.40,5.25,5.41,5.22,5.40,5.06,5.28,4.58,4.82
4,12/22/23,5.27,5.38,5.26,5.39,5.24,5.39,5.22,5.40,5.10,5.32,4.62,4.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5500,1/8/02,1.67,1.69,NaN,NaN,1.65,1.68,NaN,NaN,1.74,1.78,NaN,NaN
5501,1/7/02,1.68,1.71,NaN,NaN,1.66,1.69,NaN,NaN,1.73,1.77,NaN,NaN
5502,1/4/02,1.69,1.72,NaN,NaN,1.69,1.72,NaN,NaN,1.78,1.82,NaN,NaN
5503,1/3/02,1.70,1.73,NaN,NaN,1.70,1.73,NaN,NaN,1.78,1.82,NaN,NaN
5504,1/2/02,1.71,1.74,NaN,NaN,1.71,1.74,NaN,NaN,1.81,1.85,NaN,NaN

In [7]:
bill_rates["Date"]  = pd.to_datetime(bill_rates["Date"], format="%m/%d/%y")
bill_rates["Year"]  = bill_rates["Date"].dt.year
bill_rates["Month"] = bill_rates["Date"].dt.month
bill_rates["Day"]   = bill_rates["Date"].dt.day
bill_rates = bill_rates.drop("Date", axis=1)

In [8]:
bill_rates

,4 WEEKS BANK DISCOUNT,4 WEEKS COUPON EQUIVALENT,8 WEEKS BANK DISCOUNT,8 WEEKS COUPON EQUIVALENT,13 WEEKS BANK DISCOUNT,13 WEEKS COUPON EQUIVALENT,17 WEEKS BANK DISCOUNT,17 WEEKS COUPON EQUIVALENT,26 WEEKS BANK DISCOUNT,26 WEEKS COUPON EQUIVALENT,52 WEEKS BANK DISCOUNT,52 WEEKS COUPON EQUIVALENT,Year,Month,Day
0,5.33,5.44,5.33,5.46,5.20,5.35,5.21,5.39,5.05,5.26,4.55,4.79,2023,12,29
1,5.31,5.42,5.29,5.42,5.25,5.41,5.22,5.40,5.06,5.28,4.58,4.82,2023,12,28
2,5.28,5.39,5.29,5.42,5.24,5.40,5.21,5.39,5.05,5.27,4.54,4.78,2023,12,27
3,5.27,5.38,5.27,5.40,5.25,5.41,5.22,5.40,5.06,5.28,4.58,4.82,2023,12,26
4,5.27,5.38,5.26,5.39,5.24,5.39,5.22,5.40,5.10,5.32,4.62,4.86,2023,12,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5500,1.67,1.69,NaN,NaN,1.65,1.68,NaN,NaN,1.74,1.78,NaN,NaN,2002,1,8
5501,1.68,1.71,NaN,NaN,1.66,1.69,NaN,NaN,1.73,1.77,NaN,NaN,2002,1,7
5502,1.69,1.72,NaN,NaN,1.69,1.72,NaN,NaN,1.78,1.82,NaN,NaN,2002,1,4
5503,1.70,1.73,NaN,NaN,1.70,1.73,NaN,NaN,1.78,1.82,NaN,NaN,2002,1,3
5504,1.71,1.74,NaN,NaN,1.71,1.74,NaN,NaN,1.81,1.85,NaN,NaN,2002,1,2

In [9]:
bins   = [0, 3, 6, 8, 12]
labels = ["Q1", "Q2", "Q3", "Q4"]
bill_rates["Quarter"] = pd.cut(bill_rates["Month"], bins=bins, labels=labels, right=True)
bill_rates

,4 WEEKS BANK DISCOUNT,4 WEEKS COUPON EQUIVALENT,8 WEEKS BANK DISCOUNT,8 WEEKS COUPON EQUIVALENT,13 WEEKS BANK DISCOUNT,13 WEEKS COUPON EQUIVALENT,17 WEEKS BANK DISCOUNT,17 WEEKS COUPON EQUIVALENT,26 WEEKS BANK DISCOUNT,26 WEEKS COUPON EQUIVALENT,52 WEEKS BANK DISCOUNT,52 WEEKS COUPON EQUIVALENT,Year,Month,Day,Quarter
0,5.33,5.44,5.33,5.46,5.20,5.35,5.21,5.39,5.05,5.26,4.55,4.79,2023,12,29,Q4
1,5.31,5.42,5.29,5.42,5.25,5.41,5.22,5.40,5.06,5.28,4.58,4.82,2023,12,28,Q4
2,5.28,5.39,5.29,5.42,5.24,5.40,5.21,5.39,5.05,5.27,4.54,4.78,2023,12,27,Q4
3,5.27,5.38,5.27,5.40,5.25,5.41,5.22,5.40,5.06,5.28,4.58,4.82,2023,12,26,Q4
4,5.27,5.38,5.26,5.39,5.24,5.39,5.22,5.40,5.10,5.32,4.62,4.86,2023,12,22,Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5500,1.67,1.69,NaN,NaN,1.65,1.68,NaN,NaN,1.74,1.78,NaN,NaN,2002,1,8,Q1
5501,1.68,1.71,NaN,NaN,1.66,1.69,NaN,NaN,1.73,1.77,NaN,NaN,2002,1,7,Q1
5502,1.69,1.72,NaN,NaN,1.69,1.72,NaN,NaN,1.78,1.82,NaN,NaN,2002,1,4,Q1
5503,1.70,1.73,NaN,NaN,1.70,1.73,NaN,NaN,1.78,1.82,NaN,NaN,2002,1,3,Q1
5504,1.71,1.74,NaN,NaN,1.71,1.74,NaN,NaN,1.81,1.85,NaN,NaN,2002,1,2,Q1

In [ ]:
path = Path(Path.cwd()/"../../../../data")
path

WindowsPath('d:/ANNACONDA/projects/interest_rate_prediction/notebooks/data_cleaning/market_indicators/bond_yields/../../../../data')

In [ ]:
data_folder = path/'parquet/bonds_rates/bill_rates'
data_folder.mkdir(parents=True, exist_ok=True)

In [ ]:
bill_rates.to_parquet(data_folder/"bill_rates.parquet")